In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("E:\MSC Data Science\data sets\world_population.csv")

In [3]:
df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [4]:
population = df.copy()

In [5]:
population.describe()

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,234.000000,234.000000,234.000000
mean,117.500000,3.407441e+07,3.350107e+07,3.172996e+07,2.984524e+07,2.626947e+07,2.271022e+07,1.898462e+07,1.578691e+07,5.814494e+05,452.127044,1.009577,0.427051
std,67.694165,1.367664e+08,1.355899e+08,1.304050e+08,1.242185e+08,1.116982e+08,9.783217e+07,8.178519e+07,6.779509e+07,1.761841e+06,2066.121904,0.013385,1.714977
min,1.000000,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,7.330000e+02,7.520000e+02,1.000000e+00,0.026100,0.912000,0.000000
25%,59.250000,4.197385e+05,4.152845e+05,4.046760e+05,3.931490e+05,3.272420e+05,2.641158e+05,2.296142e+05,1.559970e+05,2.650000e+03,38.417875,1.001775,0.010000
50%,117.500000,5.559944e+06,5.493074e+06,5.307400e+06,4.942770e+06,4.292907e+06,3.825410e+06,3.141146e+06,2.604830e+06,8.119950e+04,95.346750,1.007900,0.070000
75%,175.750000,2.247650e+07,2.144798e+07,1.973085e+07,1.915957e+07,1.576230e+07,1.186923e+07,9.826054e+06,8.817329e+06,4.304258e+05,238.933250,1.016950,0.280000
max,234.000000,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,9.823725e+08,8.225344e+08,1.709824e+07,23172.266700,1.069100,17.880000

In [8]:
population.columns

Index(['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (km²)', 'Density (per km²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

In [10]:
population = population.drop(['Rank','CCA3','Capital','Continent','2015 Population','2010 Population','2000 Population','1990 Population','1980 Population','1970 Population','Area (km²)',
                             'Density (per km²)','Growth Rate',], axis =1)

In [11]:
population.head()

,Country/Territory,2022 Population,2020 Population,World Population Percentage
0,Afghanistan,41128771,38972230,0.52
1,Albania,2842321,2866849,0.04
2,Algeria,44903225,43451666,0.56
3,American Samoa,44273,46189,0.00
4,Andorra,79824,77700,0.00

In [12]:
population.set_index("Country/Territory",drop=True, inplace=True)

In [13]:
population.head()

,2022 Population,2020 Population,World Population Percentage
Country/Territory,,,
Afghanistan,41128771,38972230,0.52
Albania,2842321,2866849,0.04
Algeria,44903225,43451666,0.56
American Samoa,44273,46189,0.00
Andorra,79824,77700,0.00

In [14]:
population['population change'] = population.loc[:,'2022 Population'] - population.loc[:,'2020 Population']

In [15]:
population.head()

,2022 Population,2020 Population,World Population Percentage,population change
Country/Territory,,,,
Afghanistan,41128771,38972230,0.52,2156541
Albania,2842321,2866849,0.04,-24528
Algeria,44903225,43451666,0.56,1451559
American Samoa,44273,46189,0.00,-1916
Andorra,79824,77700,0.00,2124

In [16]:
population['population change (%)'] = (population.loc[:,'2022 Population'] / population.loc[:,'2020 Population'])*100

In [17]:
world_population = population.loc[:,'2022 Population']
world_pop_total = world_population.sum()

In [18]:
world_pop_total

7973413042

In [19]:
population.loc["Brazil","2022 Population"]

215313498

In [21]:
(population.loc["Afghanistan","2022 Population"]/world_pop_total)*100

0.515823911082418

In [22]:
population.at["Albania","2022 Population"] = 0

In [23]:
population.head()

,2022 Population,2020 Population,World Population Percentage,population change,population change (%)
Country/Territory,,,,,
Afghanistan,41128771,38972230,0.52,2156541,105.533532
Albania,0,2866849,0.04,-24528,99.144427
Algeria,44903225,43451666,0.56,1451559,103.340629
American Samoa,44273,46189,0.00,-1916,95.851826
Andorra,79824,77700,0.00,2124,102.733591

In [25]:
population.loc["China"]

2022 Population                1.425887e+09
2020 Population                1.424930e+09
World Population Percentage    1.788000e+01
population change              9.575560e+05
population change (%)          1.000672e+02
Name: China, dtype: float64

In [26]:
population.at["China","2022 Population"] = population.at["China","2022 Population"]*2

In [27]:
population.loc["China"]

2022 Population                2.851775e+09
2020 Population                1.424930e+09
World Population Percentage    1.788000e+01
population change              9.575560e+05
population change (%)          1.000672e+02
Name: China, dtype: float64

In [28]:
population.iloc[2]

2022 Population                4.490322e+07
2020 Population                4.345167e+07
World Population Percentage    5.600000e-01
population change              1.451559e+06
population change (%)          1.033406e+02
Name: Algeria, dtype: float64

In [29]:
population.loc["Algeria"]

2022 Population                4.490322e+07
2020 Population                4.345167e+07
World Population Percentage    5.600000e-01
population change              1.451559e+06
population change (%)          1.033406e+02
Name: Algeria, dtype: float64

In [30]:
population.at["Albania","World Population Percentage"]

0.04

In [31]:
population.iat[1,2]

0.04

In [32]:
geography = df.copy()

In [33]:
geography.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [34]:
asia = geography[ geography['Continent'].isin(['Asia'])]
asia.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
9,140,ARM,Armenia,Yerevan,Asia,2780469,2805608,2878595,2946293,3168523,3556539,3135123,2534377,29743,93.4831,0.9962,0.03
13,91,AZE,Azerbaijan,Baku,Asia,10358074,10284951,9863480,9237202,8190337,7427836,6383060,5425317,86600,119.6082,1.0044,0.13
15,154,BHR,Bahrain,Manama,Asia,1472233,1477469,1362142,1213645,711442,517418,362595,222555,765,1924.4876,1.0061,0.02
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15

In [35]:
geography["Continent"].isin(['Asia'])

0       True
1      False
2      False
3      False
4      False
       ...
229    False
230    False
231     True
232    False
233    False
Name: Continent, Length: 234, dtype: bool